.DS_Store
build/main.aux
build/main.bbl
build/main.bcf
build/main.blg
build/main.fdb_latexmk
build/main.fls
build/main.lof
build/main.log
build/main.lot
build/main.out
build/main.run.xml
build/main.toc
